<html>
<head>
<meta charset="UTF-8">
<title>Wesley: “Hydrane AngularJS Frontend Dev CS</title>
<link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.css">
</head>
<body>
  <h1>“Hydrane AngularJS Frontend Dev CS”</h1>
<script src="bower_components/jquery/dist/jquery.min.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="bower_components/angular/angular.min.js"></script>
<script src="bower_components/angular-route/angular-route.min.js"></script>
<script src="bower_components/underscore/underscore.js"></script>
</body>

</html>