.index .title {
  text-align: center;
}
.index .page-content {
  display: block;
  position: relative;
  max-width: 1000px;
  margin: auto;
}
.index .navbar-text {
  margin-right: 0px;
  font-weight: bold;
}
.index .dropdown-toggle {
  padding-left: 5px;
}
.index .justified {
  display: inline-block;
  float: none;
}
.index .my-name {
  position: absolute;
}
a {
  cursor: pointer;
}

.main {
  text-align: center;
}

.results .chart-container {
  border: 1px solid black;
  border-bottom: none;
}
.results .chart-container:last-of-type {
  border-bottom: 1px solid black;
}
